<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<section layout:fragment="body">

    <div class="signin">

        <div class="content">

            <h2>Sign Up</h2>

            <form class="form" role="form" method="post" th:action="@{/auth/register}" th:object="${user}">

                <div class="inputBox">
                    <input
                            type="text"
                            id="name"
                            name="name"
                            th:field="*{name}">
                    <i>FirstName</i>
                </div>

                <div class="inputBox">
                    <input
                            type="text"
                            id="surname"
                            name="surname"
                            th:field="*{surname}">
                    <i>LastName</i>
                </div>

                <div class="inputBox">
                    <input
                            type="text"
                            id="username"
                            name="username"
                            th:field="*{username}">
                    <i>Username</i>
                </div>

                <div class="inputBox">
                    <input
                            type="email"
                            id="email"
                            name="email"
                            th:field="*{email}">
                    <i>Email</i>
                </div>

                <div class="inputBox">
                    <input
                            type="password"
                            id="password"
                            name="password"
                            th:field="*{password}">
                    <i>Password</i>
                </div>

                <div class="inputBox">
                    <input type="submit" value="Register">
                </div>

            </form>

        </div>

    </div>

</section> <!-- partial -->
</body>
</html>