<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Product Create</title>
    <style>
        .cart-image {
            object-fit: cover;
            width: 150px;
            height: 100px;
            border-radius: 8px;
        }
    </style>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h2>Edit Product</h2>
            <form role="form" method="post" th:action="@{/admin/products/edit/{id}(id=${product.id})}" th:object="${product}" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6 mb-2">
                        <label for="name">Name</label>
                        <input
                                type="text"
                                class="form-control"
                                id="name"
                                name="name"
                                th:field="*{name}"
                                placeholder="Product Name">
                        <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                    </div>
                    <div class="form-group col-md-6 mb-2">
                        <label for="description">Description</label>
                        <input
                                type="text"
                                class="form-control"
                                id="description"
                                name="description"
                                th:field="*{description}"
                                placeholder="Description">
                        <p th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}"></p>
                    </div>
                    <div class="form-group col-md-6 mb-2">
                        <label for="price">Price</label>
                        <input
                                type="number"
                                class="form-control"
                                id="price"
                                name="price"
                                th:field="*{price}"
                                placeholder="Price">
                        <p th:if="${#fields.hasErrors('price')}" class="text-danger" th:errors="*{price}"></p>
                    </div>
                    <div class="form-group col-md-6 mb-2">
                        <label for="stockQuantity">Stock Quantity</label>
                        <input
                                type="number"
                                class="form-control"
                                id="stockQuantity"
                                name="stockQuantity"
                                th:field="*{stockQuantity}"
                                placeholder="Stock">
                        <p th:if="${#fields.hasErrors('stockQuantity')}" class="text-danger" th:errors="*{stockQuantity}"></p>
                    </div>
                    <div class="form-group col-md-6 mb-2">
                        <img
                                th:if="${product.imageUrl != null}"
                                th:src="${product.imageUrl}"
                                alt="Product image"
                                class="cart-image"
                        />
                    </div>
                    <div class="form-group col-md-6 mb-2">
                        <label for="imageUrl">ImageUrl</label>
                        <input
                                type="file"
                                class="form-control"
                                id="imageUrl"
                                name="file"
                                placeholder="Image Url">
                        <p th:if="${#fields.hasErrors('imageUrl')}" class="text-danger" th:errors="*{imageUrl}"></p>
                    </div>
                    <div class="form-group col-md-6 mb-2">
                        <label>Select Category:</label>
                        <select th:field="*{category}">
                            <option value=""> Select </option>
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.name}"/>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <a class="btn btn-secondary" th:href="@{/admin/products/list}">Go To List</a>
            </form>
        </div>
    </section>
</main>
</body>
</html>